input[type=text],
select {
  width: 25%;
  padding: 11px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: rgb(75, 14, 155);
  color: white;
  padding: 14px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e7e6ee;
}
